li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  background-color: #f0f3ff;
}

/* ===== Start: header ===== */
/* nav  */
.active {
  color: #078107 !important;
}
/* ===== End: header ===== */

/* ===== Start: Hero section ===== */
.bannar-container {
  max-height: 100vh;
  height: 90vh;
}
.banner-heading {
  font-size: 5rem;
}

.banner-heading,
.bannar-subtitle {
  color: #8b8b8b;
}
.banner-img {
  max-width: 700px;
}
/* ===== End: Hero section ===== */

/* ===== Start: Card SEctoin ===== */
.card {
  border: 2px solid #f0b64c;
  /* border-radius: 8px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* ===== End: Card SEctoin ===== */

/* ===== Start: Faq / Accordion ===== */
.accordion-button:not(.collapsed) {
  color: #c5850e;
}
/* ===== End: Faq / Accordion ===== */

/* ===== Start: footer ===== */
footer {
  background: #070707e7;
}

footer h2,
footer h3,
footer h4 {
  color: #fff;
}

footer p,
a,
.digital-rights {
  color: #c7c7c7;
}

footer .btn-color {
  background: #f0b64c;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}
footer .btn-color:hover {
  color: #f0f3ff;
  background: #c5850e;
}
/* ===== End: footer ===== */
